@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "mochiy pop one", sans-serif; }

/* ANIMACIONES */
header nav ul li a:hover {
  color: white; }

.bienvenidos a:hover {
  background-color: white;
  color: black;
  transform: scale(1.1); }

.tarjetas:hover {
  transform: scale(1.1); }

.tarjetas a:hover {
  color: white;
  background-color: black; }

.grid:hover {
  transform: scale(1.1); }

.boton-añadir:hover {
  background-color: white;
  color: black;
  transform: scale(1.2); }

@keyframes move {
  0% {
    transform: translate(0, -40%);
    color: white; }
  100% {
    transform: translate(0); } }

.logo {
  width: 20%;
  height: 100%;
  object-fit: contain;
  align-items: left; }
  .logo img {
    width: 100%;
    height: 100%; }

header {
  color: black;
  position: fixed;
  z-index: 10; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: #ca9c0591;
    padding: 10px; }
    header nav div {
      width: 24vw;
      height: 70px; }
      header nav div a {
        list-style: none;
        text-decoration: none;
        color: black; }
    header nav .menu-horizontal, header nav ul, header nav ol {
      display: flex;
      list-style: none; }
      header nav .menu-horizontal li a, header nav ul li a, header nav ol li a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 17px;
        margin: 24px; }
    header nav .d-lg-block {
      margin-right: 20px !important; }

.bienvenidos {
  width: 100%;
  height: 660px;
  background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.486)), url(../images/Bolsos-fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  .bienvenidos h1 {
    margin-top: auto;
    font-weight: 700;
    font-size: 55px;
    animation: move 1.2s ease;
    color: #ddc808ab; }
  .bienvenidos p {
    font-size: 24px;
    margin-top: 8px; }
  .bienvenidos .enlace-inicio {
    padding: 0; }
  .bienvenidos a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 16px;
    padding: 12px;
    transition-duration: 1s;
    margin-bottom: 6px; }
  .bienvenidos img {
    width: 90%;
    height: 300px;
    margin-bottom: 30px; }

.bienvenidos-contacto {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.486)), url(../images/Bolsos-fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  .bienvenidos-contacto h1 {
    font-weight: 700;
    font-size: 55px;
    animation: move 1.2s ease;
    color: #ddc808ab; }
  .bienvenidos-contacto p {
    font-size: 24px;
    margin-top: 8px; }

.bienvenidos-nosotros {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.486)), url(../images/Bolsos-fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  .bienvenidos-nosotros h1 {
    margin-top: auto;
    font-weight: 700;
    font-size: 55px;
    animation: move 1.2s ease;
    color: #ddc808ab; }
  .bienvenidos-nosotros p {
    font-size: 24px;
    margin-top: 8px; }

.bienvenidos-ofertas {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.486)), url(../images/Bolsos-fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  .bienvenidos-ofertas h1 {
    margin-top: auto;
    font-weight: 700;
    font-size: 55px;
    animation: move 1.2s ease;
    color: #ddc808ab; }
  .bienvenidos-ofertas p {
    font-size: 24px;
    margin-top: 8px; }
  .bienvenidos-ofertas img {
    width: 90%;
    height: 300px;
    margin-bottom: 30px; }

.bienvenidos-productos {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.486)), url(../images/Bolsos-fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  .bienvenidos-productos h1 {
    margin-top: auto;
    font-weight: 700;
    font-size: 55px;
    animation: move 1.2s ease;
    color: #ddc808ab; }
  .bienvenidos-productos p {
    font-size: 24px;
    margin-top: 8px; }
  .bienvenidos-productos img {
    width: 90%;
    height: 300px;
    margin-bottom: 30px; }

.bienvenidos-contacto {
  height: 810px; }

.bienvenidos-nosotros {
  height: 715px; }

.bienvenidos-ofertas {
  height: 650px; }

.bienvenidos-productos {
  height: 670px; }

.productos h2 {
  background-color: #ca9c05;
  color: black;
  text-align: center;
  font-size: 30px;
  padding: 15px; }

.productos .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap; }

.productos div div {
  border: 1px solid black;
  width: 250;
  height: 350px;
  text-align: center;
  background-color: #ca9c05;
  color: white;
  margin-top: 20px;
  -webkit-box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
  box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
  border-radius: 1rem; }
  .productos div div img {
    width: 250px;
    height: 250px;
    border-radius: 1rem; }
  .productos div div h3 {
    font-size: 25px;
    margin: 8px; }
  .productos div div a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-weight: 900;
    padding: 3px; }

.imagen-productos {
  width: 100;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px; }
  .imagen-productos img {
    width: 100%;
    height: 100%; }

.galeria {
  width: 100%;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 370px;
  gap: 20px; }
  .galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36);
    box-shadow: 9px 10px 11px 4px rgba(0, 0, 0, 0.36); }

.grid {
  margin-left: 30px;
  width: 400px;
  position: relative;
  transition-duration: 1s;
  margin-bottom: 70px;
  text-align: center; }
  .grid h3 {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(248, 244, 2, 0.733); }
  .grid h4 {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0; }
  .grid .boton-añadir {
    margin-top: 10px;
    transition-duration: 1s; }
    .grid .boton-añadir a {
      list-style: none;
      text-decoration: none;
      background-color: black;
      color: white;
      padding: 5px; }

.formulario {
  margin: 20px; }
  .formulario h2 {
    margin-bottom: 40px; }

.container {
  margin-top: 30px; }

.col h3 {
  margin-bottom: 16px; }

.col img {
  width: 400px;
  height: 400px; }

.tarjetas {
  transition-duration: 1s;
  animation: move 1.2s ease; }

.wapp {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  cursor: pointer; }
  .wapp img {
    width: 100%;
    height: 100%; }

.boton, .boton-primario, .boton-secundario {
  font-size: 30px; }

.boton-primario {
  color: #ff0000; }

.boton-secundario {
  color: #008000; }

.wapp {
  height: 70px;
  width: 70px; }

.map-ubicacion {
  margin-top: 48px;
  margin-left: 32px; }
  .map-ubicacion .titulo-mapa {
    font-size: 32px;
    margin-bottom: 20px;
    background-color: #ca9c05;
    padding: 10px; }

.segmento {
  margin-top: 40px;
  margin-bottom: 40px; }
  .segmento img {
    height: 100%;
    width: 100%; }

.ubicacion {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .ubicacion h4 {
    margin-left: 5px; }

footer {
  background-color: #ca9c05;
  width: 100%;
  height: auto;
  color: black;
  margin-top: 40px; }
  footer .redes {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 50%;
    align-items: center;
    color: black; }
    footer .redes a {
      display: inline-block;
      text-decoration: none;
      color: black;
      width: 40px;
      height: 35px;
      line-height: 45px;
      margin: 10px; }
  footer .telefono {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    height: 40%; }
  footer .derechos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 10%; }

@media screen and (max-width: 1329px) {
  header nav ul {
    flex-direction: row;
    text-align: center;
    height: 100%;
    width: auto; }
    header nav ul li {
      margin-bottom: 5px; }
  .bienvenidos {
    height: 725px; }
  .bienvenidos-contacto {
    height: 950px; }
  .bienvenidos-nosotros {
    height: 800px; }
  .bienvenidos-ofertas {
    height: 715px; }
  .bienvenidos-productos {
    height: 770px; }
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px; }
    .galeria .grid {
      width: 350px; }
      .galeria .grid img {
        width: 100%; } }

@media screen and (max-width: 1150px) {
  header nav ul {
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: auto; }
    header nav ul li {
      margin-bottom: 5px; }
  .bienvenidos {
    height: 725px; }
  .bienvenidos-contacto {
    height: 950px; }
  .bienvenidos-nosotros {
    height: 800px; }
  .bienvenidos-ofertas {
    height: 715px; }
  .bienvenidos-productos {
    height: 770px; }
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px; }
    .galeria .grid {
      width: 400px; }
      .galeria .grid img {
        width: 100%; } }

@media screen and (max-width: 1050px) {
  header nav ul {
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: auto; }
    header nav ul li {
      margin-bottom: 5px; }
  .bienvenidos {
    height: 780px; }
  .bienvenidos-contacto {
    height: 1000px; }
  .bienvenidos-nosotros {
    height: 1100px; }
  .bienvenidos-ofertas {
    height: 715px; }
  .bienvenidos-productos {
    height: 750px; }
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px; }
    .galeria .grid {
      width: 400px; }
      .galeria .grid img {
        width: 100%; } }

@media screen and (max-width: 900px) {
  header nav ul {
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: auto; }
    header nav ul li {
      margin-bottom: 5px; }
  .bienvenidos-contacto {
    height: 1200px; }
  .bienvenidos-nosotros {
    height: 1100px; }
  .bienvenidos-ofertas {
    height: 715px; }
  .bienvenidos-productos {
    height: 750px; }
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px; }
    .galeria .grid {
      width: 300px; }
      .galeria .grid img {
        width: 100%; } }

@media screen and (max-width: 690px) {
  header nav ul {
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: auto; }
    header nav ul li {
      margin-bottom: 5px; }
  .bienvenidos {
    height: 780px; }
  .bienvenidos-contacto {
    height: 1500px; }
  .bienvenidos-nosotros {
    height: 1100px; }
  .bienvenidos-ofertas {
    height: 900px; }
  .bienvenidos-productos {
    height: 750px; }
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 500px; }
    .galeria .grid {
      width: 500px; }
      .galeria .grid img {
        width: 100%; } }

@media screen and (max-width: 540px) {
  header nav {
    flex-direction: column; }
    header nav .logo {
      align-items: center;
      margin-left: 20px;
      width: 100%;
      height: 90%; }
    header nav ul {
      flex-direction: column;
      text-align: center;
      height: 100%;
      width: 100vh; }
      header nav ul li {
        margin-bottom: 3px; }
  .bienvenidos {
    height: 850px; }
    .bienvenidos h2 {
      font-weight: 500;
      font-size: 48px; }
  .bienvenidos-contacto {
    height: 1700px; }
  .bienvenidos-nosotros {
    height: 1350px; }
  .bienvenidos-ofertas {
    height: 930px; }
  .bienvenidos-productos {
    height: 760px; }
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px; }
    .galeria .grid {
      width: 300px; }
      .galeria .grid img {
        width: 100%; }
  .ubicacion {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .ubicacion h4 {
      margin-left: 5px; } }

@media screen and (max-width: 540px) and (max-width: 500px) {
  header nav {
    flex-direction: column; }
    header nav .logo {
      align-items: center;
      margin-left: 20px;
      width: 100%;
      height: 90%; }
    header nav ul {
      flex-direction: column;
      text-align: center;
      height: 100%;
      width: 100vh; }
      header nav ul li {
        margin-bottom: 3px; }
  .bienvenidos {
    height: 990px; }
    .bienvenidos h2 {
      font-weight: 500;
      font-size: 48px; }
  .bienvenidos-contacto {
    height: 1900px; }
  .bienvenidos-nosotros {
    height: 1400px; }
  .bienvenidos-ofertas {
    height: 1050px; }
  .bienvenidos-productos {
    height: 760px; }
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px; }
    .galeria .grid {
      width: 300px; }
      .galeria .grid img {
        width: 100%; }
  .ubicacion {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .ubicacion h4 {
      margin-left: 5px; } }
