.logo {

    width: 20%;
    height: 100%;
    object-fit: contain;
    align-items: left;
    
    img     {
        width: 100%;
        height: 100%;
    }

}

header {

    color: black;
    position: fixed;
    z-index: 10;

    nav {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: auto;
        background-color: $color-primary;
        padding: 10px;

        div {
            
            width: 24vw;
            height: 70px;

            a {
            
                list-style: none;
                text-decoration: none;
                color: black;
                
                p    {
                    font-size: 24px;
                    
                }

            }

        }


        ul {
            display: flex;
            list-style: none;

            li {
                margin-top: 16px;

                .menu-vertical  {
                    display: block;
                    position: absolute;
                    display: none;
                    
                    .linea  {
                        margin-top: 12px;
                        font-size: 16px;
                    }
                    


                }

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 700;
                    font-size: 17px;
                    margin: 24px;
                }

            }
        }

        .d-lg-block  {
            margin-right: 20px !important;
        }
    }


}