@media screen and (max-width:1150px) {
    header {


        nav {

            ul {
                flex-direction: column;
                text-align: center;
                height: 100%;
                width: auto;


                li{ 
                    margin-bottom: 5px;
                }
            }
        }
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;

        .grid {
            width: 300px;

            img {
                width: 100%;
            }
        }
    }
}




@media screen and (max-width:1050px) {

    header {

        nav {

            ul {
                flex-direction: column;
                text-align: center;
                height: 100%;
                width: auto;


                li {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;

        .grid {
            width: 300px;

            img {
                width: 100%;
            }
        }
    }



    }